@charset "UTF-8";
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:#EAF6F6;
   
}
header{
    padding: 34px;
}

div.nome > p{
    font-weight: bold;
}

img{
    padding: -10px;
    width: 159px;
    position: absolute;
}
table{
    width: 600px;
    border-collapse: collapse;
    position: relative;
    display: inline-flexbox;
}
em > a{
    color: black;
}
td, th{
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}
hr{
    border-style: dotted none none; 
    color: rgba(128, 128, 128, 0.295);
    height: 0px;
    border-width: 4.5px;
    width: 2%;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: rgba(0, 0, 0, 0.637);
}
.skills:hover{
    background-color: rgba(211, 211, 211, 0.418);
}
thead > tr > th{
    position: sticky;
    top: -1px;
    background-color: rgb(99, 97, 97);
    color: white;
}
tbody > tr:nth-child(even){
    background-color: lightgray;
}
div.nome{
    position: relative;
    display: inline-block;
    padding-left:207px;
    padding-top: 6px;
}
td.skills{
   border: none;
   text-align: left;
   font-style: italic;
   font-weight: bold;
}
footer{
   background-color: lightgray;
   border-radius: 10px;
}
footer > p > a{
   font-weight: bold;
   font-size: 2vh;
   padding-left: 20px;
   text-align: center;
}
div.center{
    position: relative;
    margin: auto;
    padding-left:1px;
    overflow-x: auto;
}
div#container{
   overflow-x: auto;
}
